 .double-slider {
  position: relative;
}

.double-slider input[type="range"] {
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-appearance: none;
  background: transparent;
  pointer-events: none;
}

.double-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: var(--brown);
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  margin-top: -8px;
}

.double-slider input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: var(--brown);
  cursor: pointer;
  border-radius: 50%;
  pointer-events: auto;
  margin-top: -6px;
}

.double-slider input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  border: none;
  border-radius: 3px;
}

.double-slider input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  background: var(--lightbrown);
  border: none;
  border-radius: 3px;
}

.double-slider input[type="range"]:first-of-type {
  z-index: 5;
}

.double-slider input[type="range"]:last-of-type {
  z-index: 4;
}

.double-slider input[type="range"]:first-of-type::-webkit-slider-thumb {
 
}

.double-slider input[type="range"]:last-of-type::-webkit-slider-thumb {
  
}

.double-slider input[type="range"]:first-of-type::-moz-range-thumb {}

.double-slider input[type="range"]:last-of-type::-moz-range-thumb {
  
}

.range-input::-webkit-slider-thumb {
  border-image:
    linear-gradient(90deg, #E8DDCF  50%, var(--brown) ) 0 1 / calc(50% - 4px) 100vw/0 100vw;
}

.range-input::-moz-range-progress {
  height: 8px;
  border-radius: 10px;
  background-color: #E8DDCF;
}

.range-input2::-webkit-slider-thumb {
  border-image:
    linear-gradient(90deg, var(--brown) 50%, #E8DDCF ) 0 1 / calc(50% - 4px) 100vw/0 100vw;
}

.range-input2::-moz-range-progress {
  height: 8px;
  border-radius: 10px;
  background-color: var(--brown);
}

.range-input2::-webkit-slider-runnable-track {
  background: #E8DDCF !important;
}

.range-input2::-moz-range-track {

  background: #E8DDCF !important;
} 
