@media (max-width: 1500px) {
    .container {
        width: 1100px;
    }

}

@media (max-width: 1150px) {
    body {
        font-size: 16px;
    }

    .new>div {
        opacity: 1 !important;
    }

    .container {
        width: 900px;
    }

    .carousel,
    .carousel img,
    .main-bg>div>div:last-child {
        aspect-ratio: 2/1;
    }

    .search-md {
        position: absolute;
        top: 43px;
        left: -161px;
        z-index: 12;
    }

    .drop-down {
        margin-top: -3px;
    }

    .catalog {
        padding: 10px;
    }

    .catalog li {
        padding: 15px 5px 0px 5px !important;
    }

    .dad {
        border-bottom: none !important;
    }

    .dad2 {
        border-bottom: 2px solid var(--brown) !important;
    }
}

@media (max-width: 950px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 801px) {
    .lead-hidden-menu {
        display: contents !important;
    }
}

@media (max-width: 800px) {
    body {
        font-size: 12px;
    }

    .container {
        width: 620px;
    }

    .search-md {
        position: static;
    }

    .w-100-sm {
        width: 100% !important;
    }

    .text-align-sm {
        text-align: center;
    }

    section {
        padding-left: 0;
        padding-right: 0;
    }

    .catalog {
        margin-left: calc(-135px + 50%);
    }

    .basket {
        width: 100%;
    }

    .auth-form {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .container {
        width: 450px;
    }

    .w-100-xs {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    .container {
        width: 320px;
    }

    .w-100-xs {
        width: 100% !important;
    }
}

@media (max-width: 350px) {
    .container {
        width: 240px;
    }

}









@media (max-width: 1500px) {}

@media (max-width: 1100px) {}

@media (max-width: 800px) {}

@media (max-width: 500px) {}